@{
	ViewData["Title"] = "Home Page";
}

<
<img src="~/img/4.jpg" alt="" style="padding-bottom: 15px; max-width: 65%;">

<div class="main-content-left">
	<div class="post">
		<h3 class="post-title">Какие курсы выбрать? </h3>
		<p class="post-sub-info"><i> >>> Posted by Admin • 02/07/2021 • Comments</i></p>
		<img src="~/img/thumb1.jpg" alt="" class="post-img">
		<p class="main-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ut cum commodi reprehenderit dignissimos hic aspernatur, modi quo laborum accusamus dolore, eveniet ducimus animi, assumenda laudantium corporis minima. Aut, dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae non, ad iste esse, quaerat sequi culpa fuga perferendis molestiae iure at fugiat distinctio hic porro aut vero, quia placeat. Temporibus.</p>
		<div class="post-read-button">Read more >> </div>
	</div>

	<div class="post">
		<h3 class="post-title"> Список популярных курсов </h3>
		<p class="post-sub-info"><i> >>> Posted by Admin • 02/07/2021 • Comments</i></p>
		<img src="~/img/thumb2.jpg" alt="" class="post-img">
		<p class="main-info"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quas incidunt quisquam eum exercitationem repellendus cumque, nihil deserunt libero. Laborum quod illo sint praesentium aspernatur nihil porro eaque a delectus.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, ipsa suscipit eos dolores quae officiis repellendus laudantium, magni officia, sapiente magnam consequatur tempora tenetur. Exercitationem repudiandae quam, tempore eos aliquid.<span>Corporis sint deserunt magni facilis quis, vitae possimus ipsa sapiente doloribus quae illum quisquam beatae, libero repellat! Ratione harum vitae saepe, nulla doloribus eveniet sit temporibus, nam necessitatibus explicabo cum?</span>	lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae non, ad iste esse, quaerat sequi culpa fuga perferendis molestiae iure at fugiat distinctio hic porro aut vero, quia placeat. Temporibus.</p>
		<div class="post-read-button">Read more >> </div>
	</div>

	<div class="post">
		<h3 class="post-title"> Список новых материалов </h3>
		<p class="post-sub-info"><i> >>> Posted by Admin • 02/07/2021 • Comments</i></p>
		<img src="~/img/thumb3.jpg" alt="" class="post-img">
		<p class="main-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat accusamus porro quam quas officia soluta amet facilis est quibusdam, placeat dolorem ipsum ratione, laborum iste et vero, cum nesciunt maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, natus tempore. Nemo fugit sunt laborum eius sapiente, earum ut placeat explicabo impedit, maxime quos doloremque tenetur corrupti consequuntur nisi est.<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quas incidunt quisquam eum exercitationem repellendus cumque, nihil deserunt libero. Laborum quod illo sint praesentium aspernatur nihil porro eaque a delectus.</span><span>Corporis sint deserunt magni facilis quis, vitae possimus ipsa sapiente doloribus quae illum quisquam beatae, libero repellat! Ratione harum vitae saepe, nulla doloribus eveniet sit temporibus, nam necessitatibus explicabo cum?</span>	lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae non, ad iste esse, quaerat sequi culpa fuga perferendis molestiae iure at fugiat distinctio hic porro aut vero, quia placeat. Temporibus.</p>
		<div class="post-read-button">Read more >> </div>
	</div>
</div>
<div class="main-content-right">
	<div class="hot-topics">
		<div class="topic-name">Общая информация</div>
		<ul class="topic-decorated-list" style="font-size:24px">
			<li><a href="/Course/Index">Записаться на курс</a></li>
			<li><a href="/Account/Cabinet">Проходить курс</a></li>
		</ul>
</div>

	<div class="hot-topics topic-menu">
		<div class="topic-name">Категории курсов</div>
		<div class="topic-content">
			<ul class="topic-decorated-list">
				<li>Free HTML5 Templates</li>
				<li>Free Css3 Templates</li>
				<li>Free Responsive HTML5 Templates</li>
				<li>Free Basic HTML5 Templates</li>
				<li>Free Layout HTML5 Templates</li>
			</ul>
		</div>
	</div>

	<div class="hot-topics topic-menu">
		<div class="topic-name">Пользователи</div>
		<div class="topic-content">
			<ul class="topic-decorated-list">
				<li>Free HTML5 Templates</li>
				<li>Free Css3 Templates</li>
				<li>Free Responsive HTML5 Templates</li>
				<li>Free Basic HTML5 Templates</li>
				<li>Free Layout HTML5 Templates</li>
			</ul>
		</div>
	</div>

	<div class="hot-topics">
		<div class="topic-name">Новые Курсы</div>
		<div class="popular-posts-topic">
			<div class="post-img topic-img"><img src="~/img/thumb4.jpg" alt=""></div>
			<div class="topic-sub-name"><h4>Sample post with, links, pargraphs and comments</h4></div>
			<div class="topic-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
		</div>

		<div class="popular-posts-topic">
			<div class="post-img topic-img"><img src="~/img/thumb5.jpg" alt=""></div>
			<div class="topic-sub-name"><h4>This is going to be another post</h4></div>
			<div class="topic-content"> Deserunt reiciendis commodi assumenda maiores accusamus. </div>
		</div>

		<div class="popular-posts-topic">
			<div class="post-img topic-img"><img src="~/img/thumb6.jpg" alt=""></div>
			<div class="topic-sub-name"><h4>This is going to be another post with more larger text to see how it works</h4></div>
			<div class="topic-content"> Laborum officiis qui, non distinctio.  </div>
		</div>
	</div>
</div>

